<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Piadas do Chuck Norris
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h3>Piadas de Chuck Norris</h3>
          <p>{{piada}}</p>
        </div>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button class="primary" (click)="BuscarNovaPiada()" >Nova Piada</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
